* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    min-height: 100vh;
    background-color: whitesmoke;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}

.box {
    min-width: 400px;
    background: #FAFAFA;
    border-radius: 38px;
    text-align: center;
    position: relative;

}
.box::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 110%;
    left: -5%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 166px -31px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    z-index: -1;
}

h1{
    font-weight: bold;
    font-size: 36px;
    padding: 30px 0;
}

.display {
    padding: 0 40px;
}

.input{
    background: #FFF;
    box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
    border-radius: 28px;
    padding: 20px 0;
    margin-bottom: 20px ;
}

.input label{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

.input input {
    outline: none;
    border: none;
    border-bottom: 1px solid #4f7df9;
    width: 60%;
    text-align: center;
    font-size: 28px;
    font-family: Helvetica, sans-serif;
}
.input 
button#hitung {
    font-family: Helvetica;
    color: #FFF;
    background: #4f7df9;
    font-size: 16px;
    border-radius: 12px;
    padding: 12px 0;
    width: 100%;
    outline: none;
    border: none;
    transition: background .2s ease;
}

button#hasil:hover{
    background: #04f;
}

.hasil{
    padding: 30px 20px;
}

.hasil p{
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
}

.hasil #hasil{
    font-size: 36px;
    font-weight: 900;
    color: #4f7df9;
    background-color: #eaeaea;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 55px;
    margin-bottom: 15px;
}

#comment{
    color: #4f7df9;
    font-weight: 800;
}


select {
    text-align: center;
    font-size: 17px;
    box-sizing: border-box;
    appearance: none;
    background-color: white;
    border: none;
    padding: 1 em;
    margin: 0;
    width: 26%;
    font-family: Helvetica;
    cursor: Helvatica;
    outline: none;
    line-height: Helvatica;
    margin-bottom: 20px;

}